body {
    margin: 0px;
    background-color: #1D2428;
    font-family: 'Lato', sans-serif;
}

button:focus {
    outline: 0;
}

#left {
    height: 100%;
    padding: 0px;
}

#mid {
    height: 100%;
}

#right {
    height: 100%;
}

#displayText {
    height: 300px;
    width: 80%;
    margin: auto;
    font-size: 1.7em;
    text-align: center;
    color: #F2E9D8;
    margin-bottom: 100px;
}

#input {
    width: 80%;
    height: 50px;
    margin: auto;
}

#myInput {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding-left: 20px;
}

input:focus {
    outline: none;
}

#txt {
    font-size: 1.5em;
}

.para {
    height: 100px;
    width: 100%;
    position: relative;
    background-color: #E3EBF3;
    color: #173040;
}

.para:hover {
    background-color: #1D2428;
    color: #E3EBF3;
}

.inside {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2.3em;
    transform: translate(-50%, -50%);
}

#title {
    margin: auto;
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 100px;
    font-weight: 100;
}

#inner-title {
    margin: auto;
    width: 480px;
    font-size: 7em;
    color: #F2E9D8;
}

#sub-title {
    font-style: italic;
    width: 230px;
    margin: auto;
    font-size: 2em;
    color: #F2E9D8;
}

#paragraphs {
    position: relative;
    left: -500px;
    transition: left .5s;
    border-right: 1px solid black;
    width: 100%;
    height: 100vh;
    background-color: #E3EBF3;
}

#btn,
#btn2 {
    float: left;
    background-color: white;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
}

#btn2 {
    float: right;
}

#btn-hold {
    width: 80%;
    height: 100px;
    margin: auto;
    margin-top: 50px;
}

#stat {
    width: 250px;
    margin: auto;
    font-size: 2em;
    color: #F2E9D8;
    text-align: center;
}